.app.light{
    color: #333;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;

}

.app.dark{
    color: whitesmoke;
    background-color: #333;
    width: 100vw;
    height: 100vh;
}
