.container{
    display: flex;
    justify-content: space-around;
}

.container-pb{

    cursor: pointer;
}
.colorChoice{
    border: 1px solid red;
    

}
.colorChoices{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.colorChoice{
    width: 30Px;
    height: 30px;
}
.colorChoice.green {
    background-color: green;
}
.colorChoice.red {
    background-color: red;
}
.colorChoice.gray {
    background-color: gray;
}
.colorChoice.blue {
    background-color: blue;
}
.colorChoice.pink {
    background-color: pink;
}
.colorChoice.yellow {
    background-color: yellow;
}
.colorChoice.aqua {
    background-color: aqua;
}