.container {
    display: flex;
}

main {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 5px;
    transition: all 0.5s;
}

/* create a sidebar menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: rgba(51, 51, 51, 0.88);
    position: fixed;
    height: 100%;
    overflow: auto;
    color: #fff;
    transition: all 0.5s;
}

/* Style the main content */
.top_section {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
    margin: 0;
    height: 26px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 20px;
    margin-left: 110px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background-color: lightskyblue;
    color: #000;
    transition: all 0.5s;
}

.active {
    background-color: lightskyblue;
    color: #000;
}

.icon, .link_text {
    font-size: 20px;
}
