.registerForm {
    background: #4285F4;
    transition: 0.3s ease;
    border-radius: 20px;
    max-width: 350px;
    margin: 20px auto;
    padding: 25px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(159, 159, 159, 0.2);
    /* box always in the middle of the screen */
    transform: translate(0, 30%);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin: 10px auto 5px;
}

input {
    width: 90%;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}

.submitButton {
    margin-top: 15px;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: white;
    color: #4285F4;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
}

.submitButton:hover {
    background: #02255e;
    color: white;
    border: 1px solid #02255e;
    transition: 0.3s ease;
    font-size: 15px;
}