.Logo {
  background: url("./logo.png") no-repeat;
  width: 30px;
  height: 30px;
  z-index: 999;
}

body {
  margin: 0;
}

.template.light nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.template.dark nav {
  background-color: whitesmoke;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;

}

h1 {
  font-size: 1.5rem;
}

.homepageBanner {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.homepageBanner:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}